*
{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
:root
{
    font-size: 62.5%;
    --mainBackground : rgba(93, 194, 252, 0.705);
    --mainDark : rgba(0, 162, 255, 0.911);
    --font-Headings:rgb(194, 194, 194);
}
body
{
    background-color: var(--mainBackground,skyblue);

}
header,footer
{
    height : 8vh;
    background-color: var(--mainDark,blue);
    font-size: 2rem;
    color: var(--font-Headings,skyblue);
    display: flex;
    align-items: center;
    padding : 0 5%;
    font-weight: bolder;
    justify-content: center;
}
footer
{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}