*
{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
:root
{
    font-size: 62.5%;
    --mainBackground : #8494FF;
    --mainDark : #6367FF;
    --fontDark:#795eff;
    --mainLight:#C9BEFF;
}
body
{
    background-color: var(--mainBackground,skyblue);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
header,footer
{
    height: 6vh;
    background-color: var(--mainDark,blue);
    font-size: 2rem;
    color: var(--mainLight,rgb(0, 0, 0));
    
}
header
{
    display: flex;
    align-items: center;
    padding : 0 5%;
    font-weight: bolder;
    justify-content: center;
}
.wrapper
{
    flex:1;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1;
    height: 100%;
    width: 100%;
}
.projects
{
    background-color: var(--mainLight,lightpurple);
    padding : 12% 10%;
    font-size: 2.6rem;
    color: var(--mainLightDark);
    display: flex;
    flex-direction: column;
}
.projects>ul
{
    display: flex;
    flex-direction: column;
    gap:4rem;
    flex : 1;
}
.projectCreator
{
    padding: 5% 20%;
    background-color: var(--mainBackground);
    border : 0.3rem solid var(--mainDark);
    border-radius: 1rem;
    font-size: 1.6rem;
    color:var(--mainLight);
    font-weight: bolder;
}
.createProject
{
    display: flex;
    justify-content: center;
}
.projectCreator:hover
{
    color: var(--mainDark);
}
.modalOverlay
{
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0.4rem);
    z-index: 1;
}
.modal
{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 35vh;
    background-color: var(--mainLight);
    align-items: center;
    padding: 2% 0;
    color: var(--mainDark);
    border-radius: 2rem;
}
.modalHeading
{
    font-size: 3rem;
}
.modalInputWrapper
{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modalInput
{
    color: var(--mainLightDark);
    font-size: 2.4rem;
    padding: 10% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalInput>input
{
    height: 3rem;
    width: 65%;
    margin : 0 0.5rem;
    background-color: inherit;
    border: 0.2rem solid var(--mainDark);
    border-radius: 0.5rem;
    color: inherit;
    padding : 0 0.5rem;
    font-size: 2rem;
    
}
.modalInput>input:focus
{
    border: 0.2rem solid var(--mainDark);
    outline: none;
}
.modalButtons
{
    color: var(--mainLight);
    background-color: var(--mainDark);
    padding : 2% 10%;
    font-weight: bolder;
    font-size: 1.4rem;
    border : 0.5rem solid var(--fontDark);
    border-radius: 0.8rem;
}
.modalButtons:hover
{
    cursor: pointer;
}
.hidden
{
    display: none;
}
.creatorOptions
{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10%;
}
.protjectStyles
{
    color: var(--fontDark);
    list-style: none;
}