*
{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
:root
{
    font-size: 62.5%;
    --mainBackground : #8494FF;
    --mainDark : #6367FF;
    --fontMain:#C9BEFF;
    --fontMainDark:#795eff;
    --mainLight:#C9BEFF;
}
body
{
    background-color: var(--mainBackground,skyblue);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
header,footer
{
    height: 6vh;
    background-color: var(--mainDark,blue);
    font-size: 2rem;
    color: var(--fontMain,skyblue);
    
}
header
{
    display: flex;
    align-items: center;
    padding : 0 5%;
    font-weight: bolder;
    justify-content: center;
}
.wrapper
{
    flex:1;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1;
    height: 100%;
    width: 100%;
}
.projects
{
    background-color: var(--mainLight,lightpurple);
    padding : 12% 17%;
    font-size: 2.6rem;
    color: var(--fontMainDark);
    display: flex;
    flex-direction: column;
}
.projects>ul
{
    display: flex;
    flex-direction: column;
    gap:3rem;
    flex : 1;
}
.projectCreator
{
    padding: 5% 20%;
    background-color: var(--mainBackground);
    border : 0.3rem solid var(--mainDark);
    border-radius: 1rem;
    font-size: 1.6rem;
    color:var(--fontMain);
    font-weight: bolder;
}
.createProject
{
    display: flex;
    justify-content: center;
}
.projectCreator:hover
{
    color: var(--mainDark);
}